@import url("https://fonts.googleapis.com/css?family=Nunito:900|Quicksand");

body {
  background-color: #282c34;
  color: white;
  font-family: "Quicksand", sans-serif;
}

.App {
  min-height: 76vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: "Nunito", sans-serif;
  font-weight: 900;
}

.App-link {
  color: #61dafb;
}

.App-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
}

.board {
  display: flex;
  flex-direction: column;
  border: 5px solid steelblue;
  background: steelblue;
}

.row {
  display: flex;
}

.pawn {
  cursor: pointer;
  margin: 3px;
}

.redcolor {
  color: red;
}

.yellowcolor {
  color: yellow;
}

.circle {
  width: 50px;
  height: 50px;
  background: #282c34;
  border-radius: 50%;
}

@keyframes drop-red {
  0% {background-color:282c34;}
  100% {background-color:red;}
}

@keyframes drop-yellow {
  0% {background-color:282c34;}
  100% {background-color:yellow;}
}

.circle.redbg {
  animation: drop-red 0.5s ease both;
}

.circle.yellowbg {
  animation: drop-yellow 0.5s ease both;
}

button {
  background-color: steelblue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  cursor: pointer;
}
